
<form id="frmEdit" name="EditForm" novalidate="">
    <div>
        <label id="lblMake">Make:</label>
        <input id="edMake" type="text" ng-model="car.make"/>
        <span id="sMake"> {{ car.make }}  </span>
        <br>
        <label id="lblModel">Model:</label>
        <input id="edModel" type="text" ng-model="car.model"/>
        <span id="sModel"> {{ car.model }}  </span>
        <br>
        <label id="lblYear">Year:</label>
        <select id="edYear" ng-model="car.year">
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
        </select>
        <span id="sYear"> {{ car.year }}  </span>
        <br>
        <label id="lblPrice">Price:</label>
        <input id="edPrice" type="number" ng-model="car.price"/>
        <span id="sPrice"> {{ car.price | currency}}  </span>
    </div>
</form>
